.intro {
  flex: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(209,70,81,0.7), rgba(151,38,47,0.95)), url('/images/introBG.jpeg');
  /* background:  linear-gradient(to bottom, rgb(209,70,81), rgb(151,38,47));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D14651), color-stop(100%, #97262f));
  background: -webkit-linear-gradient(top, #D14651 0%, #97262f 100%);
  background: -moz-linear-gradient(top, #D14651 0%, #97262f 100%);
  background: -o-linear-gradient(top, #D14651 0%, #97262f 100%);
  background: -ms-linear-gradient(top, #D14651 0%, #97262f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D14651', endColorstr='#97262f', GradientType=0); */
}

.about {
  display: flex;
  min-height: 500px !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.myphoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 100%;
}

.experience {
  min-height: 600px !important;
  align-items: center;
  display: flex;
  background: #171717;
  background: linear-gradient(to top, #171717 0%, #0d0d0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #171717), color-stop(100%, #0d0d0d));
  background: -webkit-linear-gradient(top, #171717 0%, #0d0d0d 100%);
  background: -moz-linear-gradient(top, #171717 0%, #0d0d0d 100%);
  background: -o-linear-gradient(top, #171717 0%, #0d0d0d 100%);
  background: -ms-linear-gradient(top, #171717 0%, #0d0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#0d0d0d', GradientType=0);
  border: 1px solid #000000;
  box-shadow: inset 0 1px 0 #101A22;
  -webkit-box-shadow: inset 0 1px 0 #101A22;
  -moz-box-shadow: inset 0 1px 0 #101A22;
}